{{ attach_library('weather/weather') }}
<div class="weatherdiv">
  <img src="http://openweathermap.org/img/wn/{{ weather.weather.0.icon }}@2x.png"></img>
  <h3>{{ weather.main.temp }} &#8451</h3>
</div>
{{ weather.weather.0.description|capitalize }}
<table>
  <tr>
    <td>Temperatura odczuwalna</td>
    <td>{{ weather.main.feels_like }} &#8451;</td>
  </tr>
  <tr>
    <td>Ciśnienie</td>
    <td>{{ weather.main.pressure}} hPa</td>
  </tr>
  <tr>
    <td>Wilgotność</td>
    <td>{{ weather.main.humidity}} %</td>
  </tr>
  <tr>
    <td>Prędkość wiatru</td>
    <td>{{ weather.wind.speed }} m/s</td>
  </tr>
  <tr>
    <td>Kierunek wiatru</td>
    <td>{{ weather.wind.deg }} &deg</td>
  </tr>
  <tr>
    <td>Zachmurzenie</td>
    <td>{{ weather.clouds.all }} %</td>
  </tr>
  <tr>
    <td>Wschód słońca</td>
    <td>{{ weather.sys.sunrise|format_date('custom', 'H:i') }}</td>
  </tr>
  <tr>
    <td>Zachód słońca</td>
    <<td>{{ weather.sys.sunset|format_date('custom', 'H:i') }}</td>
  </tr>
</table>
